.choice{
    height: 165px;
    width: 165px;
    border-radius:50%;
    justify-content: center;
    display: flex;
    align-items:center;
}
.choice:hover{
    background-color: #081b31;
    cursor:pointer;
}
.choices{
        display:flex;
        justify-content: center;
        align-items: center;
        gap:5px;
}

h1{
    color:coral;
    border-color: black;
    text-align: center;
    background-color: #081b31;
    height:5rem;
    line-height:5rem;
    margin-top:0%;
}
img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius:50%;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top:2rem;
    font-size:2rem;
}

#user,#com{
    font-size:4rem;    
}
.msg-container{
    margin-top:2rem;
    justify-content: center;
    /* align-items: center; */
    display: flex;
}

#msg{
    background-color:#081b31;
    color:white;
    font-size:2rem;
    display:inline;
    padding:1rem;
    border-radius:1rem;
    justify-content:center;
    text-align: center;
    margin-top:0%;
}